# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [3]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')


    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [4]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,Willing to move back to India?,Samsung Electronics,"San Jose, CA"
1,Remote Epidemiologist,Insight Global,Denver Metropolitan Area
2,Data Analyst,Mondo,"San Francisco, CA"
3,Programming Analyst,Sony Pictures Entertainment,"Miami, FL"
4,Insights Analyst,Daymon,"Hutchinson, KS"
5,Data Scientist,Apple,"Cupertino, CA"
6,Data and Analytics Engineer,rprt,"Buffalo, NY"
7,Data Analyst - Risk and Payments,Wish,"San Francisco, CA"
8,Data Analyst/ Scientist,Claremont Consulting,"Boston, MA"
9,Data Analyst,Motion Recruitment,"Boston, MA"
10,Business Intelligence Analyst,TeamSoft,"Milwaukee, WI"
11,Data Analyst,Sentry Data Systems,United States
12,Data Analyst,LTI - Larsen & Toubro Infotech,"Irving, TX"
13,Data Analyst,Horizontal Talent,"Syracuse, NY"
14,Junior Data Scientist,Brooksource,"Nashville, TN"
15,Consulting Analyst,The Lab Consulting,"Houston, TX"
16,Analyst,Concentra Analytics,"Philadelphia, PA"
17,Data Analyst,Millar Cameron,"Los Angeles, CA"
18,Junior Data Analyst,Engineering - a Hill International Company,"Allendale, NJ"
19,Data Scientist - Strategy & BizOps,Instacart,"San Francisco, CA"
20,"Analyst, Market Insight and Analytics",SUN PHARMA,"Princeton, NJ"
21,Research Analyst,Ragnar Research Partners,"Oklahoma City, OK"
22,Data and Insights Analyst,Blueair,"Chicago, IL"
23,Digital Analyst (20 hours / week),Amy's Kitchen,"Petaluma, CA"
24,"Data Analyst, Gaming Studio",Andiamo Partners,"New York, NY"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [5]:
def scrape_linkedin_job_search(keywords, num_page):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'

    # Create a request to get the data from the server 
    scrape_url = [''.join([BASE_URL, 'keywords=', keywords, '&start=', str(25*i)]) for i in range(num_page)]
    soup = []
    for url in scrape_url:
        if requests.get(url).status_code == 200:
            soup.append(BeautifulSoup(requests.get(url).text, 'html.parser'))
        else:
            break
  
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for p in soup:
        for card in p.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [4]:
scrape_linkedin_job_search('data%20analysis', 2)

,Title,Company,Location
0,"Reporting & Data Visualization, Product Analyt...",National Basketball Association (NBA),"Secaucus, NJ"
1,Willing to move back to India?,Samsung Electronics,"San Jose, CA"
2,Remote Epidemiologist,Insight Global,Denver Metropolitan Area
3,Data Analyst,Mondo,"San Francisco, CA"
4,Programming Analyst,Sony Pictures Entertainment,"Miami, FL"
5,Insights Analyst,Daymon,"Hutchinson, KS"
6,Data Scientist,Apple,"Cupertino, CA"
7,Data and Analytics Engineer,rprt,"Buffalo, NY"
8,Data Analyst - Risk and Payments,Wish,"San Francisco, CA"
9,Data Analyst,Motion Recruitment,"Boston, MA"
10,Business Intelligence Analyst,TeamSoft,"Milwaukee, WI"
11,Data Analyst,Sentry Data Systems,United States
12,Data Analyst,LTI - Larsen & Toubro Infotech,"Irving, TX"
13,Data Analyst,Horizontal Talent,"Syracuse, NY"
14,Junior Data Scientist,Brooksource,"Nashville, TN"
15,Consulting Analyst,The Lab Consulting,"Houston, TX"
16,Data Analyst,Millar Cameron,"Los Angeles, CA"
17,Junior Data Analyst,Engineering - a Hill International Company,"Allendale, NJ"
18,Data Scientist - Strategy & BizOps,Instacart,"San Francisco, CA"
19,"Analyst, Market Insight and Analytics",SUN PHARMA,"Princeton, NJ"
20,Research Analyst,Ragnar Research Partners,"Oklahoma City, OK"
21,Data and Insights Analyst,Blueair,"Chicago, IL"
22,Digital Analyst (20 hours / week),Amy's Kitchen,"Petaluma, CA"
23,"Data Analyst, Gaming Studio",Andiamo Partners,"New York, NY"
24,Process Analyst,ettain group,"Cincinnati, OH"
25,"Reporting & Data Visualization, Product Analyt...",National Basketball Association (NBA),"Secaucus, NJ"
26,Willing to move back to India?,Samsung Electronics,"San Jose, CA"
27,Remote Epidemiologist,Insight Global,Denver Metropolitan Area
28,Data Analyst,Mondo,"San Francisco, CA"
29,Programming Analyst,Sony Pictures Entertainment,"Miami, FL"
30,Insights Analyst,Daymon,"Hutchinson, KS"
31,Data Scientist,Apple,"Cupertino, CA"
32,Data and Analytics Engineer,rprt,"Buffalo, NY"
33,Data Analyst - Risk and Payments,Wish,"San Francisco, CA"
34,Data Analyst,Motion Recruitment,"Boston, MA"
35,Business Intelligence Analyst,TeamSoft,"Milwaukee, WI"
36,Data Analyst,Sentry Data Systems,United States
37,Data Analyst,LTI - Larsen & Toubro Infotech,"Irving, TX"
38,Data Analyst,Horizontal Talent,"Syracuse, NY"
39,Junior Data Scientist,Brooksource,"Nashville, TN"
40,Consulting Analyst,The Lab Consulting,"Houston, TX"
41,Data Analyst,Millar Cameron,"Los Angeles, CA"
42,Junior Data Analyst,Engineering - a Hill International Company,"Allendale, NJ"
43,Data Scientist - Strategy & BizOps,Instacart,"San Francisco, CA"
44,"Analyst, Market Insight and Analytics",SUN PHARMA,"Princeton, NJ"
45,Research Analyst,Ragnar Research Partners,"Oklahoma City, OK"
46,Data and Insights Analyst,Blueair,"Chicago, IL"
47,Digital Analyst (20 hours / week),Amy's Kitchen,"Petaluma, CA"
48,"Data Analyst, Gaming Studio",Andiamo Partners,"New York, NY"
49,Process Analyst,ettain group,"Cincinnati, OH"

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [6]:
def scrape_linkedin_job_search(keywords, num_page, country):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'

    # Create a request to get the data from the server 
    scrape_url = [''.join([BASE_URL, 'keywords=', keywords,'&location=', country, '&start=', str(25*i)]) for i in range(num_page)]
    soup = []
    for url in scrape_url:
        if requests.get(url).status_code == 200:
            soup.append(BeautifulSoup(requests.get(url).text, 'html.parser'))
        else:
            break

  
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for p in soup:
        for card in p.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [7]:
scrape_linkedin_job_search('data%20analysis', 2, 'Germany')

,Title,Company,Location
0,PhD Position (m/w/d) “GRACE Follow-On Data Ana...,Leibniz Universität Hannover,"Hannover, Lower Saxony, Germany"
1,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Frankfurt, Hesse, Germany"
2,(Junior) Data Scientist / Data Analyst (w/m/d)...,Jobs via eFinancialCareers,"Berlin, Berlin, Germany"
3,Data Analyst: Customer Intelligence - Zalando ...,Zalando SE,"Berlin, Berlin, Germany"
4,Wekstudent (m/w/d) Data Analyst / Tableau (Dat...,Campusjäger,"Düsseldorf, North Rhine-Westphalia, Germany"
5,Data Science Analyst w/ TS,Axiologic Solutions LLC,"Vaihingen an der Enz, Baden-Württemberg, Germany"
6,Senior Data Analyst,Eurowings Digital GmbH,"Cologne, North Rhine-Westphalia, Germany"
7,Marketing Data Analyst,Pandata,"Berlin, Berlin, Germany"
8,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Saarbrücken, Saarland, Germany"
9,Senior Data Analyst,Takeaway.com,"Berlin, Berlin, Germany"
10,Oncology Data Analyst,Veeva Systems,"Markt Taschendorf, Bavaria, Germany"
11,Data Scientist / Data Analyst – Big Data,IAV,"Nuremberg, Bavaria, Germany"
12,Intership Analyst Engineer (Big Data Analyst),Siemens Gamesa,"Bernsdorf, Saxony, Germany"
13,Trainee Risk Data Analysis for Credit Decision...,HypoVereinsbank - UniCredit - Deutschland,"Munich, Bavaria, Germany"
14,Research Data Analyst*,CBRE Deutschland,"Berlin, Berlin, Germany"
15,(Senior) Manager Data Analysis Python / R (m/w/d),XING E-Recruiting GmbH & Co. KG,"Hamburg, Hamburg, Germany"
16,Internship Data Journalist / Data Analyst (Ber...,PriceHubble,"Berlin, Berlin, Germany"
17,VIE Production Data Analysis,Saint-Gobain,"Ladenburg, Baden-Württemberg, Germany"
18,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Altstadt, Saxony, Germany"
19,Data Engineer for Data-Driven Solutions,Alldus,"Berlin, Berlin, Germany"
20,Inhouse Consultant Data Analysis / Reporting /...,ebm-papst,"Mulfingen, Baden-Württemberg, Germany"
21,Business Analyst / Data Scientist NRW,Target People A/S,"Düsseldorf, North Rhine-Westphalia, Germany"
22,Senior Data Engineer (Scoober),Lieferando,"Berlin, Berlin, Germany"
23,Senior Data Scientist,IQVIA,"Frankfurt, Hesse, Germany"
24,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Augsburg, Bavaria, Germany"
25,Data Analytics Consultant (w/m/d),Qualcomm,"Munich, Bavaria, Germany"
26,Data Scientist (m/f/d),Huawei,"Munich, Bavaria, Germany"
27,Data Analyst (m/w/d),Flaconi,"Berlin, Berlin, Germany"
28,Global Quality Analysis and Operations,TikTok,"Berlin, Germany"
29,Data Scientist (m/f/d),Porsche Consulting Brasil,"Hamburg, Hamburg, Germany"
30,Analytics Consultant : Frankfurt,InterWorks,"Frankfurt, Hesse, Germany"
31,Data Analyst,Trust In SODA Ltd,"Darmstadt, Hesse, Germany"
32,"Analyst - Digital Strategy Consulting, Healthcare",ratyonal,Frankfurt Rhine-Main Metropolitan Area
33,Data Analyst (m/w/d),PALTRON,"Cologne, North Rhine-Westphalia, Germany"
34,Specialist Modeling / Optimization (f/m/d),Aurubis,"Hamburg, Hamburg, Germany"
35,Analytics Consultant : Frankfurt,InterWorks,"Frankfurt, Hesse, Germany"
36,Data Analyst,Bertelsmann SE & Co. KGaA,"Gütersloh, North Rhine-Westphalia, Germany"
37,Data Analysis and Reporting Specialist (f/m/d),UBS,"Frankfurt, Hesse, Germany"
38,Data Analyst (m/w/d),Stocard - Your Mobile Wallet,"Mannheim, Baden-Württemberg, Germany"
39,Data Analyst (m/w/x),Aldi Inc,"Mülheim an der Ruhr, North Rhine-Westphalia, G..."
40,Game Data Analyst (f/m/d),Kolibri Games,"Berlin, Berlin, Germany"
41,Growth Intern - (w/m/x),Relocately GmbH,"Berlin, Berlin, Germany"
42,Junior Analytics Architect (f/m/x),Vodafone,"Düsseldorf, North Rhine-Westphalia, Germany"
43,Process Analyst (m/w/x) at Process& GmbH,join.com,"Munich, Bavaria, Germany"
44,Data Analyst (f/m/x),Amorelie,"Berlin, Germany"
45,Data Analytics & Insights Consultant,IQVIA,"Frankfurt, Hesse, Germany"
46,Data Analyst (f/m/d),AERO HighProfessionals GmbH,"Hamburg, Hamburg, Germany"
47,Data Analytics Consultant,Afiniti,"Berlin, Berlin, Germany"
48,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Augsburg, Bavaria, Germany"
49,R&D Data Scientist (m/f/d),Covestro,"Leverkusen, North Rhine-Westphalia, Germany"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [8]:
def scrape_linkedin_job_search(keywords, num_page, country, num_days):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'

    # Create a request to get the data from the server 
    scrape_url = [''.join([BASE_URL,'f_TRP=', str(num_days*24*60*60), 'keywords=', keywords,'&location=', country, '&start=', str(25*i)]) for i in range(num_page)]
    soup = []
    for url in scrape_url:
        if requests.get(url).status_code == 200:
            soup.append(BeautifulSoup(requests.get(url).text, 'html.parser'))
        else:
            break

  
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for p in soup:
        for card in p.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [9]:
scrape_linkedin_job_search('data%20analysis', 2, 'Germany', 1)

,Title,Company,Location
0,Head of People & Culture,Too Good To Go,"Berlin, Berlin, Germany"
1,Consultant (m/w/d),Internationaler Bund (IB),"Hamburg, Hamburg, Germany"
2,Online Coordinator (M/W/D),Estee Lauder Companies Europe,"Munich, Bavaria, Germany"
3,Investment Analyst (m/w/d),Taledo,"Berlin, Berlin, Germany"
4,Investment Manager (d/m/w),NÜRNBERGER Versicherungsgruppe,"Nuremberg, Bavaria, Germany"
5,(Junior) Consultant (m/f/d) Consumer Panel Travel,GfK,"Nuremberg, Bavaria, Germany"
6,Data Scientist (m/f/d),Porsche Consulting Brasil,"Hamburg, Hamburg, Germany"
7,Learning Specialist (m/w/d),TU Dortmund University,"Dortmund, North Rhine-Westphalia, Germany"
8,Brand Marketing Manager (m/w/d),Bertelsmann SE & Co. KGaA,"Bochum, North Rhine-Westphalia, Germany"
9,Project Office Assistant (m/w/d),Schreiner,"Hochdorf, Baden-Württemberg, Germany"
10,CONTENT MANAGER (M/W/D),Primavera Life GmbH,"Oy-Mittelberg, Bavaria, Germany"
11,Assistant to CMO,Verlag Herder GmbH,"Freiburg, Baden-Württemberg, Germany"
12,Education Program Specialist,Department Of Navy,"Sembach, Rhineland-Palatinate, Germany"
13,Marketing Manager (m/f/d),University of Potsdam,"Berlin, Berlin, Germany"
14,Office Assistant / Office Manager (m/w/d),Poolia Deutschland,"Hamburg, Hamburg, Germany"
15,Junior Project Manager (m/w/d),Jobcafe,"Hamburg, Hamburg, Germany"
16,Office Support,Wilsonart,"Groß-Umstadt, Hesse, Germany"
17,Customer Success Manager (m/f/x),SuitePad,"Berlin, Berlin, Germany"
18,"Game Engineer (M/F/D), Gamigo Group",gamigo group,"Berlin, Berlin, Germany"
19,Customer Success Manager (m/w/d),BayWa AG,"Beilngries, Bavaria, Germany"
20,Nebenkostenabrechner (w/m/d),Hamburg Airport,"Hamburg, Hamburg, Germany"
21,Management Assistant (m/w/d),diwa aviation Deutschland,"Munich, Bavaria, Germany"
22,Digital Innovation Scout (m/w/d),Provinzial Rheinland Versicherung AG,"Düsseldorf, North Rhine-Westphalia, Germany"
23,Scrum Master (m/w/d),Whoohoo Germany,"Frankfurt, Hesse, Germany"
24,Junior Consultant (m/w/d),CAS Concepts and Solutions AG,"Hamburg, Hamburg, Germany"
25,Head of People & Culture,Too Good To Go,"Berlin, Berlin, Germany"
26,Consultant (m/w/d),Internationaler Bund (IB),"Hamburg, Hamburg, Germany"
27,Online Coordinator (M/W/D),Estee Lauder Companies Europe,"Munich, Bavaria, Germany"
28,Investment Analyst (m/w/d),Taledo,"Berlin, Berlin, Germany"
29,Investment Manager (d/m/w),NÜRNBERGER Versicherungsgruppe,"Nuremberg, Bavaria, Germany"
30,(Junior) Consultant (m/f/d) Consumer Panel Travel,GfK,"Nuremberg, Bavaria, Germany"
31,Data Scientist (m/f/d),Porsche Consulting Brasil,"Hamburg, Hamburg, Germany"
32,Learning Specialist (m/w/d),TU Dortmund University,"Dortmund, North Rhine-Westphalia, Germany"
33,Brand Marketing Manager (m/w/d),Bertelsmann SE & Co. KGaA,"Bochum, North Rhine-Westphalia, Germany"
34,Project Office Assistant (m/w/d),Schreiner,"Hochdorf, Baden-Württemberg, Germany"
35,CONTENT MANAGER (M/W/D),Primavera Life GmbH,"Oy-Mittelberg, Bavaria, Germany"
36,Assistant to CMO,Verlag Herder GmbH,"Freiburg, Baden-Württemberg, Germany"
37,Education Program Specialist,Department Of Navy,"Sembach, Rhineland-Palatinate, Germany"
38,Marketing Manager (m/f/d),University of Potsdam,"Berlin, Berlin, Germany"
39,Office Assistant / Office Manager (m/w/d),Poolia Deutschland,"Hamburg, Hamburg, Germany"
40,Junior Project Manager (m/w/d),Jobcafe,"Hamburg, Hamburg, Germany"
41,Office Support,Wilsonart,"Groß-Umstadt, Hesse, Germany"
42,Customer Success Manager (m/f/x),SuitePad,"Berlin, Berlin, Germany"
43,"Game Engineer (M/F/D), Gamigo Group",gamigo group,"Berlin, Berlin, Germany"
44,Customer Success Manager (m/w/d),BayWa AG,"Beilngries, Bavaria, Germany"
45,Nebenkostenabrechner (w/m/d),Hamburg Airport,"Hamburg, Hamburg, Germany"
46,Management Assistant (m/w/d),diwa aviation Deutschland,"Munich, Bavaria, Germany"
47,Digital Innovation Scout (m/w/d),Provinzial Rheinland Versicherung AG,"Düsseldorf, North Rhine-Westphalia, Germany"
48,Scrum Master (m/w/d),Whoohoo Germany,"Frankfurt, Hesse, Germany"
49,Junior Consultant (m/w/d),CAS Concepts and Solutions AG,"Hamburg, Hamburg, Germany"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.